In [2]:
%load_ext bigquery_magics

Try a query that doesn't require any additional libraries.

In [4]:
%%bigquery
SELECT
  x,
  bqutil.fn.to_hex(x) AS hex
FROM
  UNNEST([1, 123456, 9876543210, -1001]) AS x;

Query is running:   0%|          |

Downloading:   0%|          |

            x               hex
0           1  0000000000000001
1      123456  000000000001e240
2  9876543210  000000024cb016ea
3       -1001  fffffffffffffc17

Try a function that uses a JS library hosted in GCS. See: https://github.com/GoogleCloudPlatform/bigquery-utils/pull/434 and https://github.com/GoogleCloudPlatform/bigquery-utils/blob/master/udfs/community/README.md#xml_to_jsonxml-string

In [3]:
%%bigquery
SELECT bqutil.fn.xml_to_json(
  '<xml foo="FOO"><bar><baz>BAZ</baz></bar></xml>'
) AS output_json

Query is running:   0%|          |

Downloading:   0%|          |

                                         output_json
0  {"xml":{"_attributes":{"foo":"FOO"},"bar":{"ba...